includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	level: 8

	paths:
		- src

	excludePaths:
		- src/DI/RedisExtension24.php

	ignoreErrors:
		- "#^Do\\-while loop condition is always false\\.$#"

		# backward compatibility with nette/caching < 3.1
		-
			message: """
				#^Class Contributte\\\\Redis\\\\Caching\\\\RedisJournal implements deprecated interface Nette\\\\Caching\\\\Storages\\\\IJournal\\:
				use Nette\\\\Caching\\\\Storages\\\\Journal$#
			"""
			count: 1
			path: src/Caching/RedisJournal.php

		-
			message: """
				#^Class Contributte\\\\Redis\\\\Caching\\\\RedisStorage implements deprecated interface Nette\\\\Caching\\\\IStorage\\:
				use Nette\\\\Caching\\\\Storage$#
			"""
			count: 1
			path: src/Caching/RedisStorage.php

		-
			message: """
				#^Parameter \\$journal of method Contributte\\\\Redis\\\\Caching\\\\RedisStorage\\:\\:__construct\\(\\) has typehint with deprecated interface Nette\\\\Caching\\\\Storages\\\\IJournal\\:
				use Nette\\\\Caching\\\\Storages\\\\Journal$#
			"""
			count: 1
			path: src/Caching/RedisStorage.php

		-
			message: """
				#^Fetching class constant class of deprecated class Nette\\\\Caching\\\\IStorage\\:
				use Nette\\\\Caching\\\\Storage$#
			"""
			count: 3
			path: src/DI/RedisExtension.php
