includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon

parameters:
	excludePaths:
		- src/DI/RedisExtension24.php

	ignoreErrors:
		- '#Function snappy_(.+) not found.#'
